
body {
  background: #012345;
}

.logoText {
  color: #FCFCFC;
}

.nightModeText {
  color: #677B8F;
}

.userName {
  color: #FCFCFC;
}

.rent {
  background: #011C37;
}

.addText {
  color: #4959FF;
}

.rentText {
  color: #FCFCFC;
}

.rentText span {
  color: #4959FF;
}

.addText {
  color: #4959FF;
}

.addButton {
  background-color: #4959FF;
  color: rgb(255, 255, 255);
}

.rentObj {
  background: #012345;
}

.rentObjText h3 {
  color: #FCFCFC;
}

.rentObjText p {
  color: #677B8F;
}

.rentObjText .cost {
  color: #F84AB3;
}
