* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
    font-family: 'Codec Pro';
    src: local('Codec Pro Thin'), local('Codec-Pro-Thin'),
        url('CodecPro-Thin.woff2') format('woff2'),
        url('CodecPro-Thin.woff') format('woff'),
        url('CodecPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
@font-face {
      font-family: 'Codec Pro';
      src: local('Codec Pro Bold'), local('Codec-Pro-Bold'),
          url('CodecPro-Bold.woff2') format('woff2'),
          url('CodecPro-Bold.woff') format('woff'),
          url('CodecPro-Bold.ttf') format('truetype');
      font-weight: 700;
      font-style: normal;
    }


.container {
  max-width: 1440px;
  height: 100%;
}

.content {
  max-width: 1312px;
  margin-left: 64px;
  margin-right: 64px;
  height: auto;
}

/* header */

.topMenu {
  display: flex;
  height: 144px;
}

.logo {
  width: 48px;
  height: 48px;
  margin-top: 52px;
}

.ellipse6 {
  position: absolute;
  margin-left: 16px;
  margin-top: 22px;
}

.ellipse7 {
  position: absolute;
  margin-left: 31px;
  margin-top: 3px;
}

.ellipse8 {
  position: absolute;
  margin-left: 9px;
  margin-top: 14px;
}

.logoName {
  margin-left: 17.9px;
  margin-top: 65.49px;
  width: 104.2px;
  height: 20.62px;
}

.logoText {
  width: 255px;
  height: 24px;
  line-height: 24px;
  font-family: 'Codec Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #677B8F;
  margin-top: 64px;
  margin-left: 64.9px;
}

.nightMode {
  margin-left: 288px;
  margin-top: 66px;
}

.nightModeText {
  margin-left: 18px;
  margin-top: 64px;
  width: 82px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Codec Pro';
  font-weight: 100;
  font-style: normal;
  color: #677B8F;
}

.message {
  margin-left: 107px;
  margin-top: 67px;
}

.userName {
  margin-left: 96px;
  margin-top: 64px;
  width: 109px;
  height: 24px;
  line-height: 24px;
  font-family: 'Codec Pro';
  font-weight: 700;
  color: #012345;
}

.userPhoto {
  margin-top: 48px;
  margin-left: 12px;
}

.userPhoto img {
  border-radius: 40px;
}

/* main */


.rent {
  height: 952px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  background: #F3F4F7;
  border-radius: 48px;
}

.rentMenu {
  height: 144px;
  display: flex;
}

.rentText {
  margin-left: 64px;
  margin-top: 56px;
  width: 313px;
  height: 48px;
  line-height: 48px;
  font-family: 'Codec Pro';
  font-weight: bold;
  font-size: 40px;
}

.rentText a {
  color: #4959FF;
}

.rentText img {
  margin-left: 18px;
  vertical-align: middle;
}

.addText {
  margin-left: 726px;
  margin-top: 68px;
  width: 83px;
  height: 28px;
  line-height: 28px;
  font-family: Codec Pro;
  font-weight: bold;
  font-size: 20px;
  color: #4959FF;
}

.addButton {
  display: flex;
  margin-left: 20px;
  margin-top: 56px;
  width: 48px;
  height: 48px;
  background-color: #4959FF;
  border-radius: 16px;
  justify-content: center;
}

.addButton img {
  margin-top: 17px;
}

.ButtonСross {
  z-index: 1;
  left: -34px;
  top: -17px;
}

.rentObjects {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.rentObj {
  width: 373.33px;
  height: 164px;
  background: #FCFCFC;
  border-radius: 32px;
  margin: 16px;
}

.rentObj .rentObjImg {
  float: left;
  margin-left: 32px;
  margin-top: 24px;
}

.rentObjText {
  display: inline-block;
  width: 197px;
  height: 36px;
  margin-left: 30px;
  margin-top: 40px;
}

.rentObjText h3 {
  font-family: 'Codec Pro';
  font-weight: bold;
  font-size: 16px;
}

.rentObjText p {
  font-family: 'Codec Pro';
  font-weight: 300;
  font-size: 12px;
  color: #677B8F;
  margin-top: 12px;
}

.rentObjText .cost {
  font-family: 'Codec Pro';
  font-weight: bold;
  font-size: 14px;
  color: #F84AB3;
}
